.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 0 15px;
  max-height: 800px;
}
.chatField {
  flex-grow: 1;
  padding: 15px;
  background: hsla(96, 44%, 56%, 0.38);
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
}
.chatMassage {
  display: flex;
}
.chatMassage input {
  flex-grow: 1;
  font-size: 1.2rem;
  text-indent: 6px;
  height: 30px;
  border-radius: 5px;
  margin-right: 15px;
}
.chatButton {
  background: #84c05c;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3px;
}
